:root {
  --primary: #801336;
  --secondary: #C72C41;
  --tertiary: #EE4540;
  --light: #fafafa;
  --dark: #2D132C;
  --darker: #111111;
  --error: rgb(228, 46, 1);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

h2 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  /* background: var(--primary); */
  background-image: url("./assets/images/cover/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

header a {
  color: var(--light);
  background-color: rgb(78, 74, 74);
  padding: 5px;
}

.app-container {
  background-image: url("./assets/images/cover/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.about-container {
  background-color: var(--darker);
  color: var(--light);
  width: 80%;
}
footer {
  /* background-image: url("./assets/images/cover/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  /* background-position: 80%; */
  background-color:#C72C41;
}
.footer-component {
  width: 100%;
  padding: 40px 35px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
  }

 .footer-text{
  color: var(--light);
  background-color: rgb(78, 74, 74);
  padding: 5px;
 }

@media screen and (max-width: 980px){

header {
  position: relative;
}
}