:root {
  --primary: #801336;
  --secondary: #C72C41;
  --tertiary: #EE4540;
  --light: #fafafa;
  --dark: #2D132C;
  --darker: #111111;
  --error: rgb(228, 46, 1);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

h2 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--light);
}

header {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("./assets/images/cover/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header a {
  color: var(--light);
  background-color: rgb(78, 74, 74);
  padding: 5px;
  text-decoration: none;
}

header nav {
  margin: 7px 0;

}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-decoration: none;
  color: var(--light);
  background-color: rgb(78, 74, 74);
  margin: 10px;
}

.navActive {
  color: var(--secondary);
}

.app-container {
  background-image: url("./assets/images/cover/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  /* height: 600px; */
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.about-container {
  background-color: var(--darker);
  color: var(--light);
  width: 70%;
  /* height: 45vh; */
  margin: auto;
  padding: 40px
}

.portfolio-container {
  background-color: var(--darker);
  color: var(--light);
  width: 70%;
  margin: auto;
  padding: 40px;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.img-project {
  width: 250px;
  height: 350px;
}

.icon-github {
  size: 50px ;
}
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 350px;
  margin: 30px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: var(--primary);
  color: white;
  transform: rotateY(180deg);
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer {
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto;
  background-image: url("./assets/images/cover/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

footer p {
  color: var(--light);
  background-color: rgb(78, 74, 74);
  padding: 5px;
}

@media screen and (max-width: 980px) {

  header {
    position: relative;
  }
}